body {
  margin: 0;
  color: #bbb;
  font-family: 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100vw;
  height: 100vh;
  background-color: rgb(10,10,10);
  align-content: start;
}

.header {
  width: 100vw;
  float: left;
}

.slidercontainer {
  margin: 5px;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  height: 15px;
  border-radius: 5px;  
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  background: #bbb;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #bbb;
  cursor: pointer;
}

audio {
  margin-left: 1em;
  margin-right: 1em;
}

a#downloadLink {
  color: #bbb;
  display: block;
}

#playButton, #stopButton {
  padding: 1em;
  min-width: 3vw;
  height: 6vh;
  margin: 0px;
  color: #bbb;
  border: 5px solid #bbb;
  background-color: rgba(50,50,50,0.3);
  font-size: 1.2em;
  align-items: center;
  display: inline-flex;
  text-align: center;
  vertical-align: top;
}

#playButton:hover, #stopButton.hover, .modal-body a:hover, .close-button:hover {
  background-color: rgba(50,50,50,1);
}

#stopButton {
  display: none;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 1px solid #bbb;
  border-radius: 10px;
  background-color: rgba(10,10,10,0.5);
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.modal-header {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #bbb;
  font-size: 1.25rem;
  font-weight: bold;
}

.close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.5rem;
  font-weight: bold;
  color: #bbb;
}

.modal-body {
  padding: 10px;
  text-align: center;
  float: left;
}

.modal-body a {
  display: block;
  margin-top: 10px;
  margin-bottom: 8px;
}

.modal-body audio {
  display: block;
  margin-top: 5px;
}